NEXT_PUBLIC_SUPABASE_URL=isi_dengan_url_supabase_disini
NEXT_PUBLIC_SUPABASE_ANON_KEY=isi_dengan_anon_key_disini

# Xendit
XENDIT_SECRET_KEY=
XENDIT_WEBHOOK_VERIFICATION_TOKEN=

# App Settings
NEXT_PUBLIC_CONSULTATION_PRICE=75000
NEXT_PUBLIC_APP_URL=http://localhost:3000
